<div class='centered form'>
	<div class='text-align-left'>
		<% if @type == 'question' %>
			<b>Issue:</b>
		<% elsif @type == 'answer' %>
			<div class='width-300 '>
				<b>Why <spam class='<%= @yesno %>-text' id = 'why-yes-or-no'><%= @yesno.upcase if @yesno%>?</spam></b>
			</div>
			<%= render 'vote/toggle_switch', :@yesno => @yesno %>
		<% end %>
	</div>
	<% if @type == 'question' %>
		<%= form_for Question.new do |f|  %>
			<%= f.text_area :content, {:maxlength => 50, :class => 'full-width text-area question-input', :placeholder => "Obama is the greatest president."} %>
			<%= f.submit 'ask', :class => 'button-primary' %>
			<div class='text-align-right gray'>
				<spam id='letter-left' limit='50'>50</spam>
			</div>
		<% end %>
	<% elsif @type == 'answer' %>
		<%= form_for Answer.new do |f| %>
			<%= f.text_area :content, {:maxlength =>50, :class => 'full-width text-area answer-input @yesno'} %>
			<%= f.text_field :question_id, :value => @question.id, :hidden => true %>
			<%= f.text_field :anstype, :hidden => true, :id => 'answer-input-anstype', :value => @yesno %>
			<%= f.submit 'say', :class => 'button-primary' %>
			<div class='text-align-right gray'>
				<spam id='letter-left' limit='50'>50</spam>
			</div>
		<% end %>
	<% end %>
</div>
