<div class='question-div'>
	<div class='question-block'>
		<h4>Condition</h4>
		C<%= @question.id %>.
		<b><%= @question.content %></b>
		<br>
		<spam class='gray small'><%= @question.created_at %></spam>
		<% if not @detail %>
			<%= link_to ">>>", question_path(@question), {:class => 'question_show'} %>
		<% end %>
		<div class='yesno-bar'>
			Option1: <b><%= @question.yes_option %></b>
		</div>
		<div class='yesno-bar'>
			Option2: <b><%= @question.no_option %></b>
		</div>
	</div>
	<%= render 'vote/yesno', :@question => @question %>
	<% if not @detail %>
		<div class='centered display-none display-<%= @question.id %>'>
			<%= button_to 'see comments', question_path(@question), :method => :get %>
		</div>
	<% end %>
</div>

<% if @detail %>
	<div class='display-none display-<%= @question.id %>'>
		<%= render 'input', :@type => 'answer', :@question => @question %>
	</div>
<% end %>

<div class='answer-div display-none display-<%= @question.id %>'>
	<% if @detail %>
		<h4>Vote</h4>
		<% @question.answers.each do |answer| %>
			<% if answer.anstype == 'yes' %>
				<div class='yes-answer-block'>
			<% elsif answer.anstype == 'no' %>
				<div class='no-answer-block'>
			<% end %>
				<div class='answer-block'>
					V<%= answer.id %>.
					<b><%= answer.content %></b><br>
					<spam class='gray small'><%= answer.created_at %></spam>
				</div>
			</div>
		<% end %>
	<% end %>
</div>