<div class='question-div'>
	<div class='question-block'>
		<h4>Question</h4>
		Q<%= question.id %>.
		<b><%= question.content %></b>
		<% if not detail %>
			<%= link_to ">>>", question_path(question), {:class => 'question_show'} %>
		<% end %>
	</div>
	<div>
		<div>
			<spam class='gray small'><%= question.created_at %></spam>
		</div>
		<div class='centered'>
			<%= render 'vote/like', :vote => question.vote %>
		</div>
	</div>
</div>

<div class='answer-div'>
	<% if detail %>
		<h4>Answer</h4>
	<% end %>
	<% question.answers.each do |answer| %>
		<div class='answer-block'>
			A<%= answer.id %>.
			<b><%= answer.content %></b><br>
			<spam class='gray small'><%= answer.created_at %></spam>
			<% if detail %>
				<div class='centered'>
					<%= render 'vote/like', :vote => answer.vote %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>