<% if @question.vote.yes + @question.vote.no == 0 %>
	<% @yes_rate = 50 %>
	<% @no_rate = 50 %>
<% else %>
	<% @yes_rate = 100 * @question.vote.yes / (@question.vote.yes + @question.vote.no) %>
	<% @no_rate = 100 * @question.vote.no / (@question.vote.yes + @question.vote.no) %>
<% end %>
<div class='yesno-button-set'>
	<div class='centered half yes-text'>
		<% if @yesno != nil %>
			<spam class='display-none-<%= @question.id %>'>
		<% else %>
			<spam class='display-none display-none-<%= @question.id %>'>
		<% end %>
			<h2 class='num' id='yes-<%= @question.vote.id %>' >
				<b><%= @yes_rate %>%</b>
			</h2>
		</spam>
		<% if @yesno != nil %>
			<spam class='display-none display-block-<%= @question.id %>'>
		<% else %>
			<spam class='display-block-<%= @question.id %>'>
		<% end %>
			<%= link_to '', yesno_path({:id => @question.vote.id, :yesno => :yes}), :class => 'vote-button yes-button ', :method => :post, :remote => true%><br>
		</spam>
		<h2 class='yes-text'><b>YES</b></h2>
	</div>
	<div class='centered half no-text'>
		<% if @yesno != nil %>
			<spam class='display-none-<%= @question.id %>'>
		<% else %>
			<spam class='display-none display-none-<%= @question.id %>'>
		<% end %>
			<h2 class='num' id='no-<%= @question.vote.id %>' >
				<b><%= @no_rate %>%</b>
			</h2>
		</spam>
		<% if @yesno != nil %>
			<spam class='display-none display-block-<%= @question.id %>'>
		<% else %>
			<spam class='display-block-<%= @question.id %>'>
		<% end %>
			<%= link_to '', yesno_path({:id => @question.vote.id, :yesno => :no}), :class => 'vote-button no-button ', :method => :post, :remote => true %><br>
		</spam>
		<h2 class='no-text'><b>NO</b></h2>
	</div>
	<div class='gray centered'>
		(
		<spam id='vote-sum-<%= @question.id %>'>
			<%= @question.vote.yes + @question.vote.no %>
		</spam>
		votes)
	</div>
</div>
